.movie-banner-swiper {
	max-width: 1200px;
  max-height: 900px;
}

.movie-banner {
	background-size: cover;
  background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;
	cursor: pointer;
  box-shadow: inset 0px 0px 100px 20px #0F0E0E;
}

.movie-banner-title {
	font-size: 28px;
	color: #fff;
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
	max-width: 1200px;
	min-height: 500px;
	padding: 10px 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
  transform: translate(0, -20px);
}
