.swiper {
	max-width: 1200px;
}

.movie-banner {
	max-width: 1200px;
	margin: 0 auto;
	min-height: 500px;
	border-radius: 10px;
	background-size: cover;
	background-position-x: center;
	background-position-y: top;
	cursor: pointer;
}

.movie-banner-title {
	font-size: 24px;
	color: #fff;
	background: linear-gradient(to left, transparent, #00000093);
	max-width: 1200px;
	min-height: 500px;
	padding: 10px 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
