.movie-detail-container {
	display: flex;
	margin: 20px;
  gap: 20px;
}



.movie-detail-backdrop {
  position: absolute;
  background-size: contain;
  width: 100%;
  height: 90vh;
  z-index: -1;
  margin:  0px 0% 0% 0%;
  filter: blur(20px);
  box-shadow: inset 0 0 200px 250px #000;
}

.movie-detail-poster {
  height: 40%;
  border: outset 2px #fff;
  
}	

.movie-detail-info {
	width: 40%;
}

.movie-detail-info h1 {
	font-size: 38px;
	margin-bottom: 10px;
}

.movie-detail-info p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 10px;
}

.providers-info ul {
	margin: 16px 0;
	list-style-type: none;
	display: flex;
}

.providers-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
  border-left: outset 2px #fff;
  border-bottom: outset 2px #fff;
  background-color: #272727;
  width: 400px;
  padding: 10px;
}

.movie-detail-info2 {
  margin-bottom: 10px;
  
}
.movie-detail-info2 span {
  text-align: center;
  display: flex;
  align-items: start;
}

.movie-detail-info2 img {
  width: 20px;
}

.provider-logo {
	width: 50px;
	height: auto;
	margin-right: 10px;
  border: outset 2px #fff;
}

.add-to-favorites,
.remove-from-favorites {
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 8px;
	color: #fff;
	border: none;
	cursor: pointer;
	margin-bottom: 10px;
}

.add-to-favorites {
	background-color: #2ecc71;
}

.remove-from-favorites {
	background-color: #e74c3c;
}

.comments-container {
 display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment {
  display: flex;
  gap: 10px;
  padding: 10px;
  border: outset 2px #fff;
  background-color: #2727276b;
}

.comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

